{% load episodes_tags %}
{% load fansite_tags %}

{% if episode_page_obj %}
    {% create_page_selection page_obj=episode_page_obj get_query=get_query %}
    
    <div class="sort-main">
        <form class="sort-container">
            <label for="sort-type-select">
                Sort:
                <select name="sort" id="sort-type-select">
                    <option value="none">-- Sort By --</option>
                    {% for key, value in sort_options_dict.items %}
                        <option 
                            value={{ key }}
                            {% if sort.type == key %}selected=""{% endif %}
                        >
                            {{ value }}
                        </option>
                    {% endfor %}
                </select>
            </label>

            <label for="sort-direction-select">
                Direction:
                <select name="dir" id="sort-direction-select">
                    <option 
                        value="desc"
                        {% if sort.direction == "desc" %}selected=""{% endif %}
                    >Descending</option>
                    <option 
                        value="asc"
                        {% if sort.direction == "asc" %}selected=""{% endif %}
                    >Ascending</option>
                </select>
            </label>

            <label for="max-displayed-select">
                Per Page:
                <select name="display" id="max-displayed-select">
                    {% for max_displayed_num in max_displayed_options %}
                        <option
                            {% if max_displayed_num == episode_page_obj.paginator.per_page %}
                                selected=""
                            {% endif %}
                        >{{ max_displayed_num }}</option>
                    {% endfor %}
                    <option value="0">All</option>
                </select>
            </label>
        </form>

        <div class="number-displayed-container">
            <div>Showing {{ episode_page_obj.start_index }} - {{ episode_page_obj.end_index }} of {{ episode_page_obj.paginator.count|add_commas_to_num }} replay episodes</div>
        </div>
    </div>

    <ul>
        {% for episode in episode_page_obj %}
                <li>
                    {% block episode_basic_display %}
                        {% episode_basic_display episode %}
                    {% endblock %}
                </li>
        {% empty %}
            <li>There are no Episodes!</li>
        {% endfor %}
    </ul>

    {% create_page_selection page_obj=episode_page_obj get_query=get_query %}
{% endif %}
