{% load static %}
{% load fansite_tags %}

<div class="episode-basic">  
    <div class="episode-basic-header">
        <h2><a href="
            {% block episode_title_link %}
                {{ episode.get_absolute_url }}
            {% endblock %}
        ">{{ episode.title }}</a></h2>
        {% block header_extra %}{% endblock %}
    </div>

    <div class="episode-basic-thumbnail">
        <div class="thumbnail-aspect-ratio">
            <div class="thumbnail-img-container">
                <img
                    {% if episode.youtube_video and episode.youtube_video.thumbnails %}                            
                        srcset="{% for thumbnail in episode.youtube_video.thumbnails.all %}{{ thumbnail.create_srcset_entry }}, {% endfor %}"
                        alt="Thumbnail image for episode: {{ episode.title }}"
                    {% else %}
                        src="{% static 'replay/img/Replay_new_logo_orig_300x169.png' %}"
                        alt="Default thumbnail image for episode: {{ episode.title }}"
                    {% endif %}
                    
                    loading="lazy"
                >
                <time class="episode-runtime" datetime="">{% firstof episode.youtube_video.duration_formatted episode.runtime %}</time>
            </div>
        </div>
    </div>

    <div class="episode-basic-details">
        <div class="episode-basic-details-video">
            <div><span>Air Date: </span>{{ episode.airdate }}</div>

            <div id="episode-basic-details-video-counts">
                <span><i class="fas fa-eye"></i> {{ episode.youtube_video.views|add_commas_to_num }} views</span>
                <span><i class="fas fa-thumbs-up"></i> {{ episode.youtube_video.likes|add_commas_to_num }}</span>
            </div>
        </div>

        <div class="episode-basic-details-people">
            {% if episode.host %}
                <div>
                    <span>Host: </span>
                    <a href="{{ episode.host.get_absolute_url }}">{{ episode.host }}</a>
                </div>
            {% endif %}

            {% with featuring_list=episode.featuring.all %}
                {% if featuring_list %}
                    <div>
                        <span>Featuring: </span>
                        {% for person in featuring_list %}
                            <a href="{{ person.get_absolute_url }}">{{ person }}</a>
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>

        {% block details_extra %}
            {% if 'description' in episode.headings %}
                <p>{{ episode.headings.description }}</p>
            {% elif episode.youtube_video.description %}
                <p>{{ episode.youtube_video.description }}</p>
            {% endif %}
        {% endblock %}
    </div>
</div>