#game-name {
    font-size: 2.5rem;
}

#cover-and-details-container {
    
}

#cover-and-details-container::after {
    content: '';
    display: block;
    clear: both;
}

#game-details {
    
}

#game-details p {
    
}

#game-cover {
    width: 25vw;
    float: left;
    padding: 0 1em 1em 0;
}

#game-cover img {
    width: 100%;
    height: auto;
}

#platform-developer-container,
#genres-themes-container,
#collections-franchises-container,
#websites {
    display: flex;
    gap: 1.2em;
}

#platform-developer-container {

}

#genres-themes-container {

}

#collections-franchises-container {

}

#websites {
    
}

#screenshot-gallery {

}

.img-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.img-gallery .img-gallery-item img,
.img-gallery .img-gallery-item iframe {
    width: 100%;
    height: auto;
}

.game-logo {
    width: 10vw;
    display: grid;
    grid-template-rows: auto 1fr;
    text-align: center;
}

.game-logo img {
    width: 100%;
    height: auto;
}