<a href="{{ game.get_absolute_url }}" class="game-basic">
    <div class="game-basic-name">{{ game.name }}</div>

    {% if game.cover %}
        <div class="game-basic-cover">
            <img 
                src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ game.cover.image_id }}.png" 
                width="{{ game.cover.width }}" 
                height="{{ game.cover.height }}"
                alt="Cover image of video game {{ game.name }}"
                style="width:100%;height:auto;"
            >
        </div>
    {% endif %}
</a>