{% load fansite_tags %}

{% if page_obj %}
    {% create_page_selection page_obj=page_obj get_query=get_query %}
    <ul 
        class="game-basic-list"
        style="display: grid;grid-template-columns: repeat(auto-fill, minmax(250px, 20%));justify-content: space-around;gap: 1em;"
    >
        {% for game in page_obj %}
            <li style="border: 2px solid var(--base-white);">
                <a 
                    href="{{ game.get_absolute_url }}" 
                    class="game-basic"
                    style="text-decoration: none;color: inherit;"
                >
                    <div 
                        class="game-basic-name"
                        style="text-align: center;font-size: 1.8rem;padding: 0.5em 1em;"
                    >
                        {{ game.name }}
                    </div>
                
                    <div class="game-basic-cover">
                        {% if game.cover %}
                            <img 
                                src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ game.cover.image_id }}.png" 
                                width="{{ game.cover.width }}" 
                                height="{{ game.cover.height }}"
                                alt="Cover image of video game {{ game.name }}"
                                style="width:100%;height:auto;"
                            >
                        {% elif game.platform.logo %}
                            <img 
                                src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ game.platform.logo.image_id }}.png" 
                                width="{{ game.platform.logo.width }}" 
                                height="{{ game.platform.logo.height }}"
                                alt="Cover image of video game platform {{ game.platform.name }}"
                                style="width:100%;height:auto;padding:1em;"
                            >
                        {% endif %}
                    </div>
                </a>
            </li>
        {% empty %}
            <li>There are no video games!</li>
        {% endfor %}
    </ul>
    {% create_page_selection page_obj=page_obj get_query=get_query %}
{% endif %}