#game-name {
    font-size: 2.5rem;
}

#cover-and-details-container {
    
}

#cover-and-details-container::after {
    content: '';
    display: block;
    clear: both;
}

#game-details {
    
}

#game-details p {
    
}

#game-cover {
    width: 25vw;
    float: left;
    padding: 0 1em 1em 0;
}

#game-cover img {
    width: 100%;
    height: auto;
}

#screenshot-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

#screenshot-gallery .screenshot {
    
}

#screenshot-gallery .screenshot img {
    width: 100%;
    height: auto;
}