{% extends "base_generic.html" %}

{% load episodes_tags %}
{% load fansite_tags %}

{% block title %}
    <title>Game Informer Fansite - Episodes</title>
{% endblock %}

{% block content %}
    <h1>Episodes List</h1>
    <p>Full Path: {{ request.get_full_path }}</p>
    <p>Sort Type: {{ sort.type }}</p>
    <p>Descending: {{ sort.descending }}</p>
    <p>Max Displayed: {{ max_displayed }}</p>
    
    {% episode_basic_list_display_ajax episode_page_obj=episode_page_obj sort=sort filter="" get_query=get_query %}
{% endblock %}
