{% load static %}
{% load fansite_tags %}

<div class="replay-episode-basic">
    <div class="replay-episode-basic-header">
        <h2><a href="{{ replayepisode.get_absolute_url }}">{{ replayepisode.title }}</a></h2>
        {% with season_tuple=replayepisode.get_season %}
            <span title="Season {{ season_tuple.0 }} Episode {{ season_tuple.1 }}">
                S{{ season_tuple.0 }} E{{ season_tuple.1 }} (#{{ replayepisode.number }})
            </span>
        {% endwith %}
    </div>

    {% if replayepisode.youtube_video and replayepisode.youtube_video.thumbnails %}
        <div class="replay-episode-basic-thumbnail">
            <div class="thumbnail-aspect-ratio">
                <div class="thumbnail-img-container">
                    <img
                        srcset="{% for thumbnail in replayepisode.youtube_video.thumbnails.all %}{{ thumbnail.create_srcset_entry }}, {% endfor %}"
                        alt="Thumbnail image for Replay Episode: {{ replayepisode.title }}"
                        loading="lazy"
                    >
                    <time class="replay-episode-runtime" datetime="">{{ replayepisode.runtime }}</time>
                </div>
            </div>
        </div>
    {% else %}
        <div class="replay-episode-basic-thumbnail">
            <div class="thumbnail-aspect-ratio">
                <div class="thumbnail-img-container">
                    <img
                        src="{% static 'replay/img/Replay_new_logo_orig_300x169.png' %}"
                        alt="Default thumbnail image for Replay Episode: {{ replayepisode.title }}"
                        loading="lazy"
                    >
                    <time class="replay-episode-runtime" datetime="">{{ replayepisode.runtime }}</time>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="replay-episode-basic-details">
        <div class="replay-episode-basic-details-video">
            <div><span>Air Date: </span>{{ replayepisode.airdate }}</div>

            <div id="replay-episode-basic-details-video-counts">
                <span><i class="fas fa-eye"></i> {{ replayepisode.youtube_video.views|add_commas_to_num }} views</span>
                <span><i class="fas fa-thumbs-up"></i> {{ replayepisode.youtube_video.likes|add_commas_to_num }}</span>
            </div>
        </div>

        <div class="replay-episode-basic-details-people">
            <div><span>Host: </span><a href="{{ replayepisode.host.get_absolute_url }}">{{ replayepisode.host }}</a></div>

            <div>
                <span>Featuring: </span>
                {% for person in replayepisode.featuring.all %}
                    <a href="{{ person.get_absolute_url }}">{{ person }}</a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="replay-episode-basic-details-segments">
            <div class="replay-episode-segment-inst">
                <div class="segment-type">Main Segment</div>
                <div class="segment-games-container">
                    <ul class="segment-games-list">
                        {% for game in replayepisode.main_segment_games.all %}
                            <li class="segment-game-list-item">
                                <a class="segment-game-link" href="{{ game.get_absolute_url }}">
                                    {% if game.cover %}
                                        <div class="game-cover">
                                            <img
                                                src="https://images.igdb.com/igdb/image/upload/t_cover_small/{{ game.cover.image_id }}.png"
                                                width="{{ game.cover.width }}"
                                                height="{{ game.cover.height }}"
                                                alt="Cover image of video game {{ game.name }}"
                                                loading="lazy"
                                            >
                                        </div>
                                    {% endif %}
                                    {{ game.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    
            {% if replayepisode.other_segments.all %}
                {% for segment in replayepisode.other_segments.all %}
                    <div class="replay-episode-segment-inst" >
                        <div class="segment-type">
                            <a href="{{ segment.type.get_absolute_url }}">{{ segment.type }}</a>
                        </div>
                        {% if segment.games.all %}
                            <div class="segment-games-container">
                                <ul class="segment-games-list">
                                    {% for game in segment.games.all %}
                                        <li class="segment-game-list-item">
                                            <a class="segment-game-link" href="{{ game.get_absolute_url }}">
                                                {% if game.cover %}
                                                    <div class="game-cover">
                                                        <img
                                                            src="https://images.igdb.com/igdb/image/upload/t_cover_small/{{ game.cover.image_id }}.png"
                                                            height="{{ game.cover.height }}"
                                                            width="{{ game.cover.width }}"
                                                            alt="Cover image of video game {{ game.name }}"
                                                            loading="lazy"
                                                        >
                                                    </div>
                                                {% endif %}
                                                <span>{{ game.name }}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if segment.description %}
                            <p class="segment-game-list-item">{{ segment.description }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
