{% extends "episode_basic_tag.html" %}

{% block header_extra %}
    {% with season_tuple=episode.get_season %}
    <span title="Season {{ season_tuple.0 }} Episode {{ season_tuple.1 }}">
        S{{ season_tuple.0 }} E{{ season_tuple.1 }} (#{{ episode.number }})
    </span>
    {% endwith %}
{% endblock %}

{% block details_extra %}
    <div class="episode-basic-details-segments">
        <div class="episode-segment-inst">
            <div class="segment-type">Main Segment</div>
            <div class="segment-games-container">
                <ul class="segment-games-list">
                    {% for game in episode.main_segment_games.all %}
                        <li class="segment-game-list-item">
                            <a class="segment-game-link" href="{{ game.get_absolute_url }}">
                                {% if game.cover %}
                                    <div class="game-cover">
                                        <img
                                            src="https://images.igdb.com/igdb/image/upload/t_cover_small/{{ game.cover.image_id }}.png"
                                            width="{{ game.cover.width }}"
                                            height="{{ game.cover.height }}"
                                            alt="Cover image of video game {{ game.name }}"
                                            loading="lazy"
                                            title="{{ game.name }}"
                                        >
                                    </div>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% if episode.other_segments.all %}
            {% for segment in episode.other_segments.all %}
                <div class="episode-segment-inst" >
                    <div class="segment-type">
                        <a href="{{ segment.type.get_absolute_url }}">{{ segment.type }}</a>
                    </div>
                    {% if segment.games.all %}
                        <div class="segment-games-container">
                            <ul class="segment-games-list">
                                {% for game in segment.games.all %}
                                    <li class="segment-game-list-item">
                                        <a class="segment-game-link" href="{{ game.get_absolute_url }}">
                                            {% if game.cover %}
                                                <div class="game-cover">
                                                    <img
                                                        src="https://images.igdb.com/igdb/image/upload/t_cover_small/{{ game.cover.image_id }}.png"
                                                        height="{{ game.cover.height }}"
                                                        width="{{ game.cover.width }}"
                                                        alt="Cover image of video game {{ game.name }}"
                                                        loading="lazy"
                                                        title="{{ game.name }}"
                                                    >
                                                </div>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% if segment.description %}
                        <p class="segment-game-list-item">{{ segment.description }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
