{% extends "base_generic.html" %}

{% load game_tags %}

{% block title %}
    <title>Game Informer Fansite - Games - Collection - {{ collection.name }}</title>
{% endblock %}

{% block content %}
    <h1>{{ collection.name }}</h1>

    <h2>{{ collection.name }} Games Played By Game Informer:</h2>

    {% if collection.games.all %}
        <ul id="game-list">
            {% for game in collection.games.all %}
            <li>
                {% game_basic_display game %}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no video games!</p>
    {% endif %}
{% endblock %}
