{% extends "base_generic.html" %}

{% block title %}
    <title>Game Informer Fansite - Games - Developer - {{ developer.name }}</title>
{% endblock %}

{% block content %}
    <h1>{{ developer.name }}</h1>

    {% if developer.logo %}
        <div id="developer-logo">
            <img
                src="https://images.igdb.com/igdb/image/upload/t_logo_med/{{ developer.logo.image_id }}.png"
                width="{{ developer.logo.width }}"
                height="{{ developer.logo.height }}"
                alt="Logo of video game developer {{ developer.name }}"
            >
        </div>
    {% endif %}

    <p><strong>Country: </strong>{{ developer.country }}</p>

    {% if developer.description %}
        <p><strong>Description: </strong>{{ developer.description }}</p>
    {% endif %}

    <p><strong>URL: </strong><a href="{{ developer.url }}">{{ developer.name }}</a></p>

    <h2>{{ developer.name }} Games Played By Game Informer:</h2>

    {% for game in developer.game_set.all %}
        <hr>
        <p>
            <a href="{{ game.get_absolute_url }}">{{ game.name }}</a>
        </p>
    {% endfor %}
{% endblock %}