{% extends "base_generic.html" %}

{% load static %}
{% load fansite_tags %}
{% load replayepisode_tags %}

{% block title %}
    <title>Game Informer Fansite - Game - {{ game.name }}</title>
{% endblock %}

{% block custom-css %}
    <link rel="stylesheet" href="{% static 'games/css/game_detail.css' %}">
    <link rel="stylesheet" href="{% static 'fansite/css/image_slider.css' %}">
{% endblock %}

{% block custom-js %}
    <script type="module" defer src="{% static 'games/js/game_detail.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="cover-and-details-container">
        <div id="game-details">
            {% if game.cover %}
                <div id="game-cover">
                    <img 
                        src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ game.cover.image_id }}.png" 
                        width="{{ game.cover.width }}" height="{{ game.cover.height }}"
                        alt="Cover image of video game {{ game.name }}">
                </div>
            {% endif %}

            <h1 id="game-name">{{ game.name }}</h1>

            <div id="platform-developer-container">
                <span class="game-logo">
                    <strong>Platform: </strong>
                    <a href="{{ game.platform.get_absolute_url }}">
                        <img
                            src="https://images.igdb.com/igdb/image/upload/t_logo_med/{{ game.platform.logo.image_id }}.png"
                            width="{{ game.platform.logo.width }}"
                            height="{{ game.platform.logo.height }}"
                            alt="Logo of video game developer {{ game.platform.name }}"
                        >
                        {{ game.platform.name }}
                    </a>
                </span>
                <span class="game-logo">
                    <strong>Developer: </strong>
                    <a href="{{ game.developer.get_absolute_url }}">
                        <img
                            src="https://images.igdb.com/igdb/image/upload/t_logo_med/{{ game.developer.logo.image_id }}.png"
                            width="{{ game.developer.logo.width }}"
                            height="{{ game.developer.logo.height }}"
                            alt="Logo of video game developer {{ game.developer.name }}"
                        >
                        {{ game.developer.name }}
                    </a>
                </span>
            </div>

            <p><strong>Release Date: </strong>{{ game.release_date|date:"F j, o" }}</p>

            <div id="genres-themes-container">
                <p>
                    <strong>Genres: </strong>
                    {% for genre in game.genres.all %}
                        {% if not forloop.first %}, {% endif %}
                        <a href="{{ genre.get_absolute_url }}">{{ genre.name }}</a>
                    {% endfor %}
                </p>
                <p>
                    <strong>Themes: </strong>
                    {% for theme in game.themes.all %}
                        {% if not forloop.first %}, {% endif %}<a href="{{ theme.get_absolute_url }}">{{ theme.name }}</a>
                    {% endfor %}
                </p>
            </div>

            <div id="collections-franchises-container">
                {% if game.collection_set.all %}
                    <p>
                        <strong>Series: </strong>
                        {% for collection in game.collection_set.all %}
                            <a href="{{ collection.get_absolute_url }}">{{ collection.name }}</a>
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}

                {% if game.franchise_set.all %}
                    <p>
                        <strong>Franchises: </strong>
                        {% for franchise in game.franchise_set.all %}
                            <a href="{{ franchise.get_absolute_url }}">{{ franchise.name }}</a>
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>

            {% if game.summary %}
                <p>{{ game.summary|linebreaks }}</p>
            {% endif %}

            {% if game.keywords.all %}
                <p>
                    <strong>Keywords: </strong>
                    {% for keyword in game.keywords.all %}
                        {% if not forloop.first %}, {% endif %}
                        <a href="{{ keyword.get_absolute_url }}">{{ keyword.name }}</a>
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>

    {% if game.storyline %}
        <p><strong>Storyline: </strong>{{ game.storyline|linebreaks }}</p>
    {% endif %}

    <p><strong>IGDB URL: </strong><a href="{{ game.url }}" target="_blank">{{ game.name }}</a></p>
    <!-- <p><strong>Slug: </strong>{{ game.slug }}</p>
    <p><strong>IGDB ID: </strong>{{ game.igdb_id }}</p> -->

    <h2>Websites</h2>
    <ul id="websites">
        {% for website in game.websites.all %}
            <li>
                <a href="{{ website.url }}">{{ website.get_category_display }}</a>
            </li>
        {% endfor %}
    </ul>

    {% if game.screenshot_set.all %}
        <h2>Screenshots:</h2>
        {% create_img_gallery_slider game.screenshot_set.all "https://images.igdb.com/igdb/image/upload/t_thumb_widescreen_large/" "jpg" "for video game {{ game.name }}" %}
    {% endif %}

    {% if game.artwork_set.all %}
        <h2>Artworks:</h2>
        {% create_img_gallery_slider game.artwork_set.all "https://images.igdb.com/igdb/image/upload/t_thumb_widescreen_large/" "jpg" "for video game {{ game.name }}" %}
    {% endif %}

    {% if game.gamevideo_set.all %}
        <h2>Videos:</h2>
        {% create_video_gallery_slider game.gamevideo_set.all %}
    {% endif %}

    <h2>{{ replayepisode_list|length }} Replay Episode{{ replayepisode_list|pluralize }} featuring {{ game.name }} Played By Game Informer:</h2>
    {% for replayepisode in replayepisode_list %}
        <hr>
        {% replayepisode_basic_display replayepisode %}
    {% endfor %}
{% endblock %}