{% extends "base_generic.html" %}

{% block title %}
    <title>Game Informer Fansite - Game - {{ game.name }}</title>
{% endblock %}

{% block content %}
    <h1>{{ game.name }}</h1>

    <p><strong>Platform: </strong><a href="{{ game.platform.get_absolute_url }}">{{ game.platform.name }}</a></p>
    <p><strong>Developer: </strong><a href="{{ game.developer.get_absolute_url }}">{{ game.developer.name }}</a></p>
    <p><strong>Genres: </strong>{{ game.genres.all|join:", " }}</p>
    <p><strong>Release Date: </strong>{{ game.release_date }}</p>
    {% if game.summary %}
        <p><strong>Summary: </strong>{{ game.summary }}</p>
    {% endif %}
    {% if game.storyline %}
        <p><strong>Storyline: </strong>{{ game.storyline }}</p>
    {% endif %}
    <p><strong>IGDB URL: </strong><a href="{{ game.url }}" target="_blank">{{ game.name }}</a></p>
    <p><strong>Slug: </strong>{{ game.slug }}</p>
    <p><strong>IGDB ID: </strong>{{ game.igdb_id }}</p>

    <h2>Replay Episodes:</h2>

    {% for replayepisode in game.replayepisode_set.all %}
        <hr>
        <p><a href="{{ replayepisode.get_absolute_url }}">{{ replayepisode.title }}</a></p>
        {% if not forloop.last %},{% endif %}
    {% endfor %}

    {% for segment in game.segment_set.all %}
        {% for replayepisode in segment.replayepisode_set.all %}
        <hr>
        <p><a href="{{ replayepisode.get_absolute_url }}">{{ replayepisode.title }}</a></p>
        {% endfor %}
    {% endfor %}
{% endblock %}