{% extends "base_generic.html" %}

{% load static %}
{% load replayepisode_tags %}

{% block title %}
    <title>Game Informer Fansite - Game - {{ game.name }}</title>
{% endblock %}

{% block custom-css %}
    <link rel="stylesheet" href="{% static 'css/game_detail.css' %}">
{% endblock %}

{% block content %}
    <div id="cover-and-details-container">
        <div id="game-details">
            {% if game.cover %}
                <div id="game-cover">
                    <img 
                        src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ game.cover.image_id }}.png" 
                        width="{{ game.cover.width }}" height="{{ game.cover.height }}"
                        alt="Cover image of video game {{ game.name }}">
                </div>
            {% endif %}

            <h1 id="game-name">{{ game.name }}</h1>

            <div id="platform-developer-container">
                <span class="game-logo">
                    <strong>Platform: </strong>
                    <a href="{{ game.platform.get_absolute_url }}">
                        <img
                            src="https://images.igdb.com/igdb/image/upload/t_logo_med/{{ game.platform.logo.image_id }}.png"
                            width="{{ game.platform.logo.width }}"
                            height="{{ game.platform.logo.height }}"
                            alt="Logo of video game developer {{ game.platform.name }}"
                        >
                        {{ game.platform.name }}
                    </a>
                </span>
                <span class="game-logo">
                    <strong>Developer: </strong>
                    <a href="{{ game.developer.get_absolute_url }}">
                        <img
                            src="https://images.igdb.com/igdb/image/upload/t_logo_med/{{ game.developer.logo.image_id }}.png"
                            width="{{ game.developer.logo.width }}"
                            height="{{ game.developer.logo.height }}"
                            alt="Logo of video game developer {{ game.developer.name }}"
                        >
                        {{ game.developer.name }}
                    </a>
                </span>
            </div>

            <p><strong>Release Date: </strong>{{ game.release_date|date:"F j, o" }}</p>

            <p>
                <strong>Genres: </strong>
                {% for genre in game.genres.all %}
                    {% if not forloop.first %}, {% endif %}
                    <a href="{{ genre.get_absolute_url }}">{{ genre.name }}</a>
                {% endfor %}
            </p>

            <p>
                <strong>Themes: </strong>
                {% for theme in game.themes.all %}
                    {% if not forloop.first %}, {% endif %}<a href="{{ theme.get_absolute_url }}">{{ theme.name }}</a>
                {% endfor %}
            </p>

            <p>
                <strong>Keywords: </strong>
                {% for keyword in game.keywords.all %}
                    {% if not forloop.first %}, {% endif %}
                    <a href="{{ keyword.get_absolute_url }}">{{ keyword.name }}</a>
                {% endfor %}
            </p>
            
            {% if game.collection_set.all %}
                <p>
                    <strong>Series: </strong>
                    {% for collection in game.collection_set.all %}
                        <a href="{{ collection.get_absolute_url }}">{{ collection.name }}</a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}

            {% if game.franchise_set.all %}
                <p>
                    <strong>Franchises: </strong>
                    {% for franchise in game.franchise_set.all %}
                        <a href="{{ franchise.get_absolute_url }}">{{ franchise.name }}</a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}

            {% if game.summary %}
                <p>{{ game.summary|linebreaks }}</p>
            {% endif %}
        </div>
    </div>

    {% if game.storyline %}
        <p><strong>Storyline: </strong>{{ game.storyline|linebreaks }}</p>
    {% endif %}

    <p><strong>IGDB URL: </strong><a href="{{ game.url }}" target="_blank">{{ game.name }}</a></p>
    <!-- <p><strong>Slug: </strong>{{ game.slug }}</p>
    <p><strong>IGDB ID: </strong>{{ game.igdb_id }}</p> -->

    <h2>Websites</h2>
    <ul>
        {% for website in game.websites.all %}
            <li>
                <a href="{{ website.url }}">{{ website.get_category_display }}</a>
            </li>
        {% endfor %}
    </ul>

    {% if game.screenshot_set.all %}
        <h2>Screenshots:</h2>
        <div id="screenshot-gallery" class="img-gallery">
            {% for screenshot in game.screenshot_set.all %}
            <div class="img-gallery-item">
                <img 
                    src="https://images.igdb.com/igdb/image/upload/t_thumb_widescreen_large/{{ screenshot.image.image_id }}.jpg" 
                    width="{{ screenshot.image.width }}" height="{{ screenshot.image.height }}" 
                    alt="Screenshot #{{ forloop.counter }} for video game {{ game.name }}"
                >
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if game.artwork_set.all %}
        <h2>Artworks:</h2>
        <div id="artwork-gallery" class="img-gallery">
            {% for artwork in game.artwork_set.all %}
            <div class="img-gallery-item">
                <img 
                    src="https://images.igdb.com/igdb/image/upload/t_thumb_widescreen_large/{{ artwork.image.image_id }}.jpg" 
                    width="{{ artwork.image.width }}" height="{{ artwork.image.height }}" 
                    alt="Artwork #{{ forloop.counter }} for video game {{ game.name }}"
                >
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if game.gamevideo_set.all %}
        <h2>Videos:</h2>
        <div id="video-gallery" class="img-gallery">
            {% for gamevideo in game.gamevideo_set.all %}
            <div class="img-gallery-item">
                <iframe
                    frameborder="0"
                    allowfullscreen="1"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    title="{{ gamevideo.name|default:'YouTube video player' }}"
                    width="640"
                    height="360"
                    src="https://www.youtube.com/embed/{{ gamevideo.video_id }}"
                ></iframe>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    <h2>{{ replayepisode_list|length }} Replay Episode{{ replayepisode_list|pluralize }} featuring {{ game.name }} Played By Game Informer:</h2>
    {% for replayepisode in replayepisode_list %}
        <hr>
        {% replayepisode_basic_display replayepisode %}
    {% endfor %}
{% endblock %}