{% extends "base_generic.html" %}

{% block title %}
    <title>Game Informer Fansite - Games - Keywords</title>
{% endblock %}

{% block content %}
    <h1>Keyword List View</h1>
    {% if keyword_list %}
        <ul>
            {% for keyword in keyword_list %}
                <li>
                    <a href="{{ keyword.get_absolute_url }}">{{ keyword.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no video game keywords!</p>
    {% endif %}
{% endblock %}
