{% extends "base_generic.html" %}

{% load game_tags %}

{% block title %}
    <title>Game Informer Fansite - Games - Platform - {{ platform.name }}</title>
{% endblock %}

{% block content %}
    <h1>{{ platform.name }}</h1>

    {% if platform.logo %}
        <div id="platform-logo">
            <img
                src="https://images.igdb.com/igdb/image/upload/t_logo_med/{{ platform.logo.image_id }}.png"
                width="{{ platform.logo.width }}"
                height="{{ platform.logo.height }}"
                alt="Logo of video game platform {{ platform.name }}"
            >
        </div>
    {% endif %}

    <p><strong>Abbreviation: </strong>{{ platform.abbreviation }}</p>
    <p><strong>Alternative Name: </strong>{{ platform.alternative_name }}</p>
    {% if platform.summary %}
        <p><strong>Summary: </strong>{{ platform.summary }}</p>
    {% endif %}
    <p><strong>IGDB URL: </strong><a href="{{ platform.url }}">{{ platform.name }}</a></p>

    <h2>{{ platform.name }} Games Played By Game Informer:</h2>

    {% game_basic_list_display platform.game_set.all %}
{% endblock %}