{% extends "base_generic.html" %}

{% load fansite_tags %}

{% block title %}
    <title>Game Informer Fansite - Replay - Segment Types</title>
{% endblock %}

{% block content %}
    <h1>Segment Type List View</h1>
    {% if page_obj %}
        {% create_page_selection page_obj=page_obj get_query=request.GET %}
        <ul>
            {% for segmenttype in page_obj %}
            <li>
                <a href="{{ segmenttype.get_absolute_url }}">{{ segmenttype.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% create_page_selection page_obj=page_obj get_query=request.GET %}
    {% else %}
        <p>There are no Replay segment types!</p>
    {% endif %}
{% endblock %}
