{% extends "base_generic.html" %}

{% load replayepisode_tags %}

{% block title %}
    <title>Game Informer Fansite - Replay - Segment Type - {{ segmenttype.title }}</title>
{% endblock %}

{% block content %}
    <h1>{{ segmenttype.title }}</h1>

    {% if segmenttype.abbreviation %}
        <p><strong>Abbreviation: </strong>{{ segmenttype.abbreviation }}</p>
    {% endif %}
    
    {% if segmenttype.description %}
        <p><strong>Description: </strong>{{ segmenttype.description|linebreaks }}</p>
    {% endif %}

    <h2>{{ replayepisode_list|length }} Replay Episode{{ replayepisode_list|pluralize }} featuring {{ segmenttype.title }} Played By Game Informer:</h2>
    {% for replayepisode in replayepisode_list %}
        <hr>
        {% replayepisode_basic_display replayepisode %}
    {% endfor %}
{% endblock %}