{% extends "base_generic.html" %}

{% load replayepisode_tags %}
{% load fansite_tags %}

{% block title %}
    <title>Game Informer Fansite - Replay - Segment Type - {{ segmenttype.title }}</title>
{% endblock %}

{% block content %}
    <h1>{{ segmenttype.title }}</h1>

    {% if segmenttype.abbreviation %}
        <p><strong>Abbreviation: </strong>{{ segmenttype.abbreviation }}</p>
    {% endif %}
    
    {% if segmenttype.description %}
        <p><strong>Description: </strong>{{ segmenttype.description|linebreaks }}</p>
    {% endif %}

    <h2>{{ episode_page_obj.count }} Replay Episode{{ episode_page_obj.count|pluralize }} featuring {{ segmenttype.title }} Played By Game Informer:</h2>
    
    {% replayepisode_basic_list_display episode_page_obj %}

{% endblock %}