{% extends "base_generic.html" %}

{% load static %}
{% load replayepisode_tags %}

{% block title %}
    <title>Game Informer Fansite - Person - {{ person.full_name }}</title>
{% endblock %}

{% block custom-css %}
    <link rel="stylesheet" href="{% static 'css/person_detail.css' %}">
{% endblock %}

{% block content %}
    <h1>{{ person.full_name }}</h1>

    {% if person.short_name %}
        <p><strong>Short Name: </strong>{{ person.short_name }}</p>
    {% endif %}

    <div id="description">
        {% if person.thumbnail %}
            <img
                src="{{ person.thumbnail.url }}"
                width="{{ person.thumbnail.width }}"
                height="{{ person.thumbnail.height }}"
                alt="Thumbnail image of {{ person.full_name }}"
            >
        {% endif %}
        {% if person.description %}
            <p>{{ person.description|linebreaks }}</p>
        {% endif %}
    </div>

    {% if person.headings %}
        <hr>

        {% for key, value in person.headings.items %}
            <h2>{{ key }}:</h2>
            {% for item in value %}
                <p>{{ item }}</p>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <hr>

    <h2>{{ replayepisode_list|length }} Replay Episode{{ replayepisode_list|pluralize }} featuring {{ person.full_name }} Played By Game Informer:</h2>
    {% for replayepisode in replayepisode_list %}
        <hr>
        {% replayepisode_basic_display replayepisode %}
    {% endfor %}

{% endblock %}