#primary-info {

}

#primary-info-header, #primary-info-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

#primary-info-header {

}

#primary-info-details {

}

#primary-info-details-counts {
    display: flex;
    gap: 1em;
}

#primary-info-details-time {
    display: flex;
    gap: 1em;
}

#people-in-episode {
    display: flex;
    justify-content: space-between;
}

#main-segment-games {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10em);
}

#main-segment-games li {
    
}

#main-segment-games li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-segment-games li a img {
    width: 100%;
    height: auto;
}