#primary-info {

}

#primary-info-header, #primary-info-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

#primary-info-header {
    
}

#primary-info-details {

}

#primary-info-details-counts {
    display: flex;
    gap: 1em;
}

#primary-info-details-time {
    display: flex;
    gap: 1em;
}

#people-in-episode {
    display: flex;
    justify-content: space-between;
}