@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --base-white: hsl(0, 0%, 95%);
    --base-black: hsl(0, 0%, 10%);
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    box-sizing: border-box;

    color: var(--base-white);
    background-color: var(--base-black);
    background-image: url('../img/replay_bg_1024w.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header"
        "sidenav main"
        "footer footer";
}

header, #sidenav, main, footer {
    padding: 1.2rem;
}

header {
    outline: 2px solid white;

    height: 10vh;
    background-image: url('../img/Game_Informer_logo_(2010-present)_512(dark_mode).png');
    background-position: center;
    background-repeat: no-repeat;
    grid-area: header;
    display: grid;
    place-items: center;
}

header img {
    max-height: 100%;
    width: auto;
}

#sidenav {
    outline: 2px solid white;

    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#sidenav a {
    display: block;
}

main {
    outline: 2px solid white;

    grid-area: main;
    background-color: var(--base-black);
}

main > *:not(:first-child) {
    margin-top: 1rem;
}

main > *:not(:last-child) {
    margin-bottom: 1rem;
}

main h2 {
    text-transform: capitalize;
}

footer {
    outline: 2px solid white;

    font-size: 1.2rem;

    grid-area: footer;
    display: grid;
    place-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.thumbnail-container {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

.thumbnail-container .thumbnail {
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.thumbnail-container .thumbnail img {
    display: block;
    height: 100%;
    margin: 0 auto;
}