{% extends "base_generic.html" %}

{% block title %}
    <title>Game Informer Fansite - Person - {{ person.full_name }}</title>
{% endblock %}

{% block content %}
    <h1>{{ person.full_name }}</h1>

    {% if person.short_name %}
        <p><strong>Short Name: </strong>{{ person.short_name }}</p>
    {% endif %}

    <h2>Replay Episodes:</h2>
    <h3>Host: </h3>
    {% for replayepisode in person.fansite_replayepisode_host_related.all %}
        <hr>
        <p><a href="{{ replayepisode.get_absolute_url }}">{{ replayepisode.title }}</a></p>
    {% empty %}
        <p>No hosted Replay episodes!</p>
    {% endfor %}
    <h3>Featuring: </h3>
    {% for replayepisode in person.fansite_replayepisode_featuring_related.all %}
        <hr>
        <p><a href="{{ replayepisode.get_absolute_url }}">{{ replayepisode.title }}</a></p>
    {% empty %}
        <p>No featuring Replay episodes!</p>
    {% endfor %}
{% endblock %}