{% extends "base_generic.html" %}

{% load static %}
{% load replayepisode_tags %}

{% block title %}
    <title>Game Informer Fansite - Replay</title>
{% endblock %}

{% block custom-css %}
    <link rel="stylesheet" href="{% static 'css/replayepisode_list.css' %}">
{% endblock %}

{% block content %}
    <h1>Replay Episode List</h1>
    {% if replayepisode_list %}
    <ul>
        {% for replayepisode in replayepisode_list %}
            <li>{% replayepisode_basic_display replayepisode %}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no Replay episodes!</p>
    {% endif %}
{% endblock %}