{% extends "base_generic.html" %}

{% load replayepisode_tags %}

{% block title %}
    <title>Game Informer Fansite - Replay - Segment Type - {{ segmenttype.title }}</title>
{% endblock %}

{% block content %}
    <h1>{{ segmenttype.title }}</h1>

    {% if segmenttype.abbreviation %}
        <p><strong>Abbreviation: </strong>{{ segmenttype.abbreviation }}</p>
    {% endif %}
    
    {% if segmenttype.description %}
        <p><strong>Description: </strong>{{ segmenttype.description }}</p>
    {% endif %}

    <h2>Replay Episodes:</h2>
    {% for segment in segmenttype.segment_set.all %}
        {% for replayepisode in segment.replayepisode_set.all %}
            <hr>
            <p>
                {% if segment.games.all %}
                    <span>
                        {% for game in segment.games.all %}
                            <a href="{{ game.get_absolute_url }}">{{ game }}</a>
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </span>
                {% elif segment.description %}
                    <span>{{ segment.description }}</span>
                {% endif %}
                <span>
                    - Episode: <a href="{{ replayepisode.get_absolute_url }}">{{ replayepisode.title }}</a>
                </span>
            </p>
            {% replayepisode_basic_display replayepisode %}
        {% endfor %}
    {% endfor %}
{% endblock %}