{% load static %}

<a
    href="{{ person.get_absolute_url }}"
    class="person-basic"
    style="display:flex;flex-direction:column;justify-content:space-between;text-align:center;"
>
    {% if person.thumbnail %}
        <img
            src="{{ person.thumbnail.url }}"
            width="100%"
            height="auto"
            alt="Thumbnail image of {{ person.full_name }}"
        >
    {% else %}
        <img
            src="{% static 'people/img/abstract-user-flat-1.svg' %}"
            width="100%"
            height="auto"
            alt="Empty thumbnail image for {{ person.full_name }}"
            style="background-color: var(--base-white, white);"
        >
    {% endif %}
    <span>{{ person.full_name }}</span>
</a>
