<div class="gallery-slider">
    <div class="gallery-slider-main">
        {% if img_list|length > 1 %}
            <div class="gallery-slider-prev">&lt;</div>
            <div class="gallery-slider-next">&gt;</div>
        {% endif %}

        <div class="gallery-slider-content">
            {% for img_type in img_list %}
                <div 
                    class="gallery-slider-item" 
                    data-index="{{ forloop.counter0 }}"
                >
                    <img
                        src="{{ src_base }}{{ img_type.image.image_id }}.{{ file_type }}"
                        width="{{ img_type.image.width }}" 
                        height="{{ img_type.image.height }}"
                        alt="Screenshot #{{ forloop.counter }} for video game {{ game.name }}"
                        alt="{{ img_type_name }} #{{ forloop.counter }} {{ alt_append }}"
                    >
                </div>

            {% endfor %}
        </div>
    </div>
    <div class="gallery-slider-footer">
        <div class="gallery-slider-counter">
            {% for img in img_list %}
                <div class="gallery-counter-item" data-index="{{ forloop.counter0 }}"></div>
            {% endfor %}
        </div>
    </div>
</div>