{% extends "base_generic.html" %}

{% block content %}
    <h1>Game Informer Fansite</h1>
    <p>Welcome to this fansite for Game Informer!</p>

    <h2>Dynamic Content</h2>
    <p>The fansite has the following record counts:</p>
    <ul>
        <br>
        <li><strong>Replay Episodes:</strong> {{ num_replay_episodes }}</li>
        <li><strong>Replay Segment Types:</strong> {{ num_replay_segment_types }}</li>
        <br>
        <li><strong>Games:</strong> {{ num_games }}</li>
        <li><strong>Game Platforms:</strong> {{ num_game_platforms }}</li>
        <li><strong>Game Developers:</strong> {{ num_game_developers }}</li>
        <br>
        <li><strong>People: </strong> {{ num_people }}</li>
    </ul>
{% endblock %}