{% extends "base_generic.html" %}

{% load replayepisode_tags %}

{% block content %}
    <h1>Game Informer Fansite</h1>
    <p>Welcome to this fansite for Game Informer!</p>

    <p>The fansite has the following record counts:</p>
    <ul>
        <br>
        <li><strong>Replay Episodes:</strong> {{ num_replay_episodes }}</li>
        <li><strong>Replay Segment Types:</strong> {{ num_replay_segment_types }}</li>
        <br>
        <li><strong>Super Replays:</strong> {{ num_super_replays }}</li>
        <li><strong>Super Replay Episodes:</strong> {{ num_super_replay_episodes }}</li>
        <br>
        <li><strong>YouTube Videos:</strong> {{ num_youtube_videos }}</li>
        <br>
        <li><strong>Games:</strong> {{ num_games }}</li>
        <li><strong>Game Platforms:</strong> {{ num_game_platforms }}</li>
        <li><strong>Game Developers:</strong> {{ num_game_developers }}</li>
        <li><strong>Game Collections/Series:</strong> {{ num_game_collections }}</li>
        <li><strong>Game Franchises:</strong> {{ num_game_franchises }}</li>
        <li><strong>Game Genres:</strong> {{ num_game_genres }}</li>
        <li><strong>Game Themes:</strong> {{ num_game_themes }}</li>
        <li><strong>Game Keywords:</strong> {{ num_game_keywords }}</li>
        <br>
        <li><strong>People: </strong> {{ num_people }}</li>
    </ul>

    <article id="random-items">
        <section id="random-replay-episode">
            <h2>Random Replay Episode</h3>
            {% replayepisode_basic_display random_replayepisode %}
        </section>
    </article>
{% endblock %}