{% load fansite_tags %}

{% if page_obj.paginator.num_pages > 1 %}
    <div class="page-number-container">
        <button 
            class="custom-button" 
            type="button" 
            value="prev"
            {% if prev %}
                disabled="true"
            {% endif %}
        >
            <a
                {% if page_obj.has_previous %}
                    href="?{% query_transform get_query page=page_obj.previous_page_number %}"
                {% else %}
                    href="#"
                {% endif %}
            >PREV</a>
        </button>

        <button 
            class="custom-button" 
            type="button" 
            value="first"
            {% if first %}
                disabled="true"
            {% endif %}
        >
            <a
                href="?{% query_transform get_query page=1 %}"
            >FIRST</a>
        </button>

        <div class="page-number-list">
            {% for i in range %}
                <button
                    {% if i == page_obj.number %}
                        class="active custom-button"
                    {% else %}
                        class="custom-button"
                    {% endif %}
                    type="button" 
                    value="{{ i }}"
                >
                    <a
                        href="?{% query_transform get_query page=i %}"
                    >{{ i }}</a>
                </button>
            {% endfor %}
        </div>

        <button 
            class="custom-button" 
            type="button" 
            value="last"
            {% if last %}
                disabled="true"
            {% endif %}
        >
            <a
                href="?{% query_transform get_query page=page_obj.paginator.num_pages %}"
            >LAST</a>
        </button>

        <button 
            class="custom-button" 
            type="button" 
            value="next"
            {% if next %}
                disabled="true"
            {% endif %}
        >
            <a
                {% if page_obj.has_next %}
                    href="?{% query_transform get_query page=page_obj.next_page_number %}"
                {% else %}
                    href="#"
                {% endif %}
            >NEXT</a>
        </button>
    </div>
{% endif %}