{% extends "base_generic.html" %}

{% load fansite_tags %}
{% load replayepisode_tags %}
{% load game_tags %}
{% load person_tags %}

{% load static %}

{% block custom-css %}
    <link rel="stylesheet" href="{% static 'fansite/css/page_selection.css' %}">
{% endblock %}

{% block content %}
    <h1>Search Results: </h1>
    <p>{{ search }}</p>
    <p>Replay Episode Pages: {{ replayepisodes_page_obj.paginator.num_pages }}</p>
    <p>Game Pages: {{ games_paginator.num_pages }}</p>
    <p>People Pages: {{ people_paginator.num_pages }}</p>

    <h2>Replay Episodes:</h2>
    <p>Displaying {{ replayepisodes_page_obj.start_index }} - {{ replayepisodes_page_obj.end_index }} of {{ replayepisodes_page_obj.paginator.count }} Replay episode{{ replayepisodes_page_obj.paginator.count|pluralize }}</p>
    {% replayepisode_basic_list_display replayepisodes_page_obj get_query=request.GET %}

    <h2>Games:</h2>
    <p>{{ games_paginator.count }} game{{ games_paginator.count|pluralize }} matched the search query!</p>
    {% game_basic_list_display games_page_obj get_query=request.GET %}

    <h2>People:</h2>
    <p>{{ people_paginator.count }} {% if people_paginator.count == 1 %}person{% else%}people{% endif %} matched the search query!</p>
    {% person_basic_list_display people_page_obj get_query=request.GET %}

{% endblock %}